<h1 class="caravanHeader">BUBIL, CAMPINGVOGN, TELT & LAVVO</h1>

  <div class="caravans">
      <md-card class="cabin">
        <img md-card-image src="images/caravan/caravan1.jpg" alt="Bobil" height="170">
        <md-card-content>
          <p>Bobil</p>
        </md-card-content>
      </md-card>

      <md-card class="cabin">
        <img md-card-image src="images/caravan/caravan2.jpg" alt="Telt" height="170">
        <md-card-content>
          <p>Telt</p>
        </md-card-content>
      </md-card>
  </div>


  <div class="imageCards">
    <md-card class="insideCabins">
      <img md-card-image src="images/caravan/caravan3.jpg" alt="Telt 2">
      <md-card-content>
        <p>Telt 2</p>
      </md-card-content>
    </md-card>

    <md-card class="insideCabins">
      <img md-card-image src="images/caravan/caravan4.jpg" alt="Buss Parkering">
      <md-card-content>
        <p>Buss Parkering</p>
      </md-card-content>
    </md-card>

    <md-card class="insideCabins">
      <img md-card-image src="images/caravan/caravan5.jpg" alt="Lavvo">
      <md-card-content>
        <p>Lavvo</p>
      </md-card-content>
    </md-card>

    <md-card class="insideCabins">
      <img md-card-image src="images/caravan/caravan6.jpg" alt="Bobil ved elven">
      <md-card-content>
        <p>Bobil ved elven</p>
      </md-card-content>
    </md-card>

    <md-card class="cabinPrice">
      <md-card-content>
        <p>
          Jølvassbu Camping er tilrettelagt for bubil/campingvogn, telt og har lavvo for utleige. Vi har tilkoblingspunkt for strøm og servicebygg med vann, kjøkken, vaskerom og WC/dusj/ handicapWC/dusj.
          Vi har tømmeanlegg for WC/gråvann inkludert i døgnleien.
        </p>
          <p>Booking:</p>
          <p>+ 47 92 06 22 03</p>
          <p>+ 47 92 22 36 98</p>
          <p>Priser:</p>
          <p>Lite telt: nkr. 120,- 1-2 pers</p>
          <p>Telt/MC: nkr. 160,- 1-2 pers</p>
          <p>Telt/bil: nkr. 200,- 1-2 pers</p>
          <p>Bubil/caravan: nkr. 200,- 1-2 pers</p>
          <p>Straum pr.døgn: nrk.40,-</p>
          <p>Ekstra person: nkr. 30,-</p>
          <p>Åttemanns Venorlavvo m/ ovn: nkr. 290,-/døgn,1-4 pers</p>
      </md-card-content>
    </md-card>
  </div>
