<h1 class="cabinHeader">Cabins:</h1>

<div class="cabins">
    <md-card class="cabin">
      <img md-card-image class="jola" src="hytte1.jpg" alt="Jøla" height="170">
      <md-card-content>
        <p>Jøla</p>
      </md-card-content>
    </md-card>

    <md-card class="cabin">
      <img md-card-image class="persbua" src="hytte2.jpg" alt="Persbua" height="170">
      <md-card-content>
        <p>Persbua</p>
      </md-card-content>
    </md-card>

    <md-card class="cabin">
      <img md-card-image class="elvestova" src="hytte3.jpg" alt="Elvestova" height="170">
      <md-card-content>
        <p>Elvestova</p>
      </md-card-content>
    </md-card>
</div>


<div class="imageCards">
  <md-card class="insideCabins">
    <img md-card-image class="livingRoom" src="hytte4.jpg" alt="Living Room">
    <md-card-content>
      <p>Living Room</p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image class="diningTable" src="hytte5.jpg" alt="Dining Table">
    <md-card-content>
      <p>Dining Table</p>
    </md-card-content>
  </md-card>


  <md-card class="insideCabins">
    <img md-card-image class="kitchen" src="hytte6.jpg" alt="Kitchen">
    <md-card-content>
      <p>Kitchen</p>
    </md-card-content>
  </md-card>


  <md-card class="insideCabins">
    <img md-card-image class="tv" src="hytte7.jpg" alt="Tv and bedroom">
    <md-card-content>
      <p>Tv and Bedroom</p>
    </md-card-content>
  </md-card>

  <md-card class="cabinPrice1">
    <md-card-content>
      <p>
         Jøla, Persbua og Elvestova.
         3 like hytter med stove, kjøkkenkrok, kjøleskap, kokemuligheter, nødvendig utstyr og TV. Ligger flott til ved Jølstra. Alle soveromma er utstyrt med familiekøyer, dyner og puter.
         Ikkje innlagt vatn, wc/dusj, sjå infomasjon om seperat servicebygg.
      </p>
        <p> Sengeplasser: 4 (6)</p>
        <p> Soverom: 2</p>
        <p> Pris pr døgn: Kr.650,-</p>
    </md-card-content>
  </md-card>
</div>
