<md-grid-list cols="3">
  <md-grid-tile>
    <md-card class="cabins">
      <img md-card-image class="jola" src="hytte1.jpg" alt="Jøla">
      <md-card-content>
        <p>Jøla</p>
      </md-card-content>
    </md-card>
  </md-grid-tile>

  <md-grid-tile>
    <md-card class="cabins">
      <img md-card-image class="persbua" src="hytte2.jpg" alt="Persbua">
      <md-card-content>
        <p>Persbua</p>
      </md-card-content>
    </md-card>
  </md-grid-tile>

  <md-grid-tile>
    <md-card class="cabins">
      <img md-card-image class="elvestova" src="hytte3.jpg" alt="Elvestova">
      <md-card-content>
        <p>Elvestova</p>
      </md-card-content>
    </md-card>
  </md-grid-tile>
</md-grid-list>


<md-grid-list cols="2">
  <md-grid-tile>1</md-grid-tile>
  <md-grid-tile>2</md-grid-tile>
  <md-grid-tile>3</md-grid-tile>
  <md-grid-tile>4</md-grid-tile>
</md-grid-list>
