<h1 class="cabinHeader">Høst</h1>

<div class="imageCards">
  <md-card class="cabinPrice">
    <img md-card-image src="images/winter/winter1.jpg" alt="Nydelige høstfarger">
    <md-card-content>
      <p>Nydelige høstfarger</p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image src="images/winter/winter2.jpg" alt="Hytter">
    <md-card-content>
      <p>Hytter</p>
    </md-card-content>
  </md-card>


  <md-card class="insideCabins">
    <img md-card-image src="images/winter/winter3.jpg" alt="Solnedgang ved elven">
    <md-card-content>
      <p>Solnedgang ved elven</p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image src="images/winter/winter4.jpg" alt="Solnedgang">
    <md-card-content>
      <p>Solnedgang</p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image src="images/winter/winter5.jpg" alt="Solnedgang 2">
    <md-card-content>
      <p>Solnedgang 2</p>
    </md-card-content>
  </md-card>
</div>

<div class="imageCards">
  <md-card class="insideCabins">
    <img md-card-image src="images/winter/winter6.jpg" alt="flott fangst">
    <md-card-content>
      <p>Flott fangst</p>
    </md-card-content>
  </md-card>


  <md-card class="insideCabins">
    <img md-card-image src="images/winter/winter7.jpg" alt="Fangst">
    <md-card-content>
      <p>Fangst</p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image src="images/winter/winter8.jpg" alt="Stor fisk">
    <md-card-content>
      <p>Stor fisk</p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image src="images/winter/winter9.jpg" alt="fisk & utstyr">
    <md-card-content>
      <p>Fisk & utstyr</p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image src="images/winter/winter10.jpg" alt="ryper">
    <md-card-content>
      <p>Flotte ryper</p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image src="images/winter/winter11.jpg" alt="Fugler">
    <md-card-content>
      <p>Fugler</p>
    </md-card-content>
  </md-card>

  <md-card class="cabinPrice">
    <md-card-content>
         <h3>Jakt & Fiske</h3>
      <p>
         Om hausten kan fisket vere eventyrleg. Når elvane veks er auren svært bitevillig. Dei små elvane som renn inn i Jølatravatnet er først ute, dei treng mindre nedbør for å bli flaumstore, medan Jølstra gjerne treng eit par dagar for å reagere særleg på nedbøren. Dersom ein er heldig, kan fisket vere fantastisk i 3-4 dager.
      </p>
      <p>Gode jaktmuligheter på rype og hare. Vi har jaktkort for Jølster Kommune.</p>
    </md-card-content>
  </md-card>
</div>


<div class="imageCards">
  <md-card class="insideCabins">
    <img md-card-image src="images/winter/winter12.jpg" alt="Kantareller">
    <md-card-content>
      <p>Kantareller</p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image src="images/winter/winter13.jpg" alt="Sopplukking">
    <md-card-content>
      <p>Sopplukking</p>
    </md-card-content>
  </md-card>

  <md-card class="cabinPrice">
    <md-card-content>
      <h3>Bær & Sopplukking</h3>
      <p>
        Bær og sopp er ein unytta resurs som står og ventar på deg. Blåbær, tyttebær, krekling, ville bringebær og molter er vanlege bærtypar i denne regionen. Kantarell, piggsopp og steinsopp er også å finne i gangavstand frå Jølvassbu.
      </p>
    </md-card-content>
  </md-card>

  <div class="imageCards">
    <md-card class="vandring">
      <img md-card-image src="images/winter/winter14.jpg" alt="Nydelig utsikt">
      <md-card-content>
        <p>Nydelig Utsikt</p>
      </md-card-content>
    </md-card>

    <md-card class="vandring">
      <img md-card-image src="images/winter/winter15.jpg" alt="Fine turområder">
      <md-card-content>
        <p>Fine turområder</p>
      </md-card-content>
    </md-card>

    <md-card class="insideCabins">
      <img md-card-image src="images/winter/winter16.jpg" alt="Tur i fjellet">
      <md-card-content>
        <p>Tur i fjellet</p>
      </md-card-content>
    </md-card>

    <md-card class="insideCabins">
      <img md-card-image src="images/winter/winter17.jpg" alt="Tursti i fjellet">
      <md-card-content>
        <p>Tursti i fjellet</p>
      </md-card-content>
    </md-card>

    <md-card class="insideCabins">
      <img md-card-image src="images/winter/winter18.jpg" alt="fint område ved elven">
      <md-card-content>
        <p>Fint område ved elven</p>
      </md-card-content>
    </md-card>

    <md-card class="insideCabins">
      <img md-card-image src="images/winter/winter19.jpg" alt="Store uteområder">
      <md-card-content>
        <p>Store uteområder</p>
      </md-card-content>
    </md-card>

    <md-card class="cabinPrice">
      <md-card-content>
        <h3>Vandring</h3>
        <p>
          I september er fargeprakta i fjellet uimotståeleg. Lufta er klar og frisk og sola har kraft nok til å varme ein vandrer ved lunsjbålet. Den nye turguiden i Jølster har 17 turer, frå heilt lette til krevande. Foto der stien er avmerka gjer det lett å orientere seg.
        </p>
      </md-card-content>
    </md-card>

    <h1 class="cabinHeader">Vinter</h1>

    <div class="imageCards">
      <md-card class="cabinPrice">
        <img md-card-image src="images/winter/winter20.jpg" alt="Campingen om vinteren">
        <md-card-content>
          <p>Campingen om vinteren</p>
        </md-card-content>
      </md-card>

      <md-card class="insideCabins">
        <img md-card-image src="images/winter/winter21.jpg" alt="hyttene om vinteren">
        <md-card-content>
          <p>Hyttene om vinteren</p>
        </md-card-content>
      </md-card>


      <md-card class="insideCabins">
        <img md-card-image src="images/winter/winter22.jpg" alt="hyttene om vinteren">
        <md-card-content>
          <p>Hyttene om vinteren</p>
        </md-card-content>
      </md-card>

      <md-card class="insideCabins">
        <img md-card-image src="images/winter/winter23.jpg" alt="Snømåking">
        <md-card-content>
          <p>Snømåking</p>
        </md-card-content>
      </md-card>

      <md-card class="insideCabins">
        <img md-card-image src="images/winter/winter24.jpg" alt="Snøfreser">
        <md-card-content>
          <p>Snøfreser</p>
        </md-card-content>
      </md-card>

      <md-card class="insideCabins">
        <img md-card-image src="images/winter/winter25.jpg" alt="Idyllisk vinter">
        <md-card-content>
          <p>Idyllisk vinter</p>
        </md-card-content>
      </md-card>


      <md-card class="insideCabins">
        <img md-card-image src="images/winter/winter26.jpg" alt="Holsbua om vinteren">
        <md-card-content>
          <p>Holsbua om vinteren</p>
        </md-card-content>
      </md-card>
    </div>

    <div class="imageCards">
      <md-card class="cabinPrice">
        <img md-card-image src="images/winter/winter27.jpg" alt="Turløyper">
        <md-card-content>
          <p>Turløyper</p>
        </md-card-content>
      </md-card>

      <md-card class="insideCabins">
        <img md-card-image src="images/winter/winter28.jpg" alt="Skiløype">
        <md-card-content>
          <p>Skiløype</p>
        </md-card-content>
      </md-card>

      <md-card class="insideCabins">
        <img md-card-image src="images/winter/winter29.jpg" alt="Tur kos">
        <md-card-content>
          <p>Tur kos</p>
        </md-card-content>
      </md-card>

      <md-card class="insideCabins">
        <img md-card-image src="images/winter/winter30.jpg" alt="Turløype">
        <md-card-content>
          <p>Turløype</p>
        </md-card-content>
      </md-card>

      <md-card class="insideCabins">
        <img md-card-image src="images/winter/winter31.jpg" alt="Snø på fjellet">
        <md-card-content>
          <p>Snø på fjellet</p>
        </md-card-content>
      </md-card>

      <md-card class="cabinPrice">
        <md-card-content>
             <h3>Langrenn</h3>
          <p>
             <a href="http://www.jolsterskisenter.no/turlyper/" target="_blank">Jølster Skisenter</a> har 20 km preparerte turløyper inn til Gjesdalsdalen og har lysløype for langrenn. Ein kan gå på ski frå Jølvassbu til skiløya/lysløypa, ca. 300m
          </p>
        </md-card-content>
      </md-card>
    </div>

    <div class="imageCards">
      <md-card class="insideCabins">
        <img md-card-image src="images/winter/winter32.jpg" alt="Løype prep">
        <md-card-content>
          <p>Løype prep</p>
        </md-card-content>
      </md-card>

      <md-card class="insideCabins">
        <img md-card-image src="images/winter/winter33.jpg" alt="Fine løyper">
        <md-card-content>
          <p>Fine alpin-løyper</p>
        </md-card-content>
      </md-card>

      <md-card class="insideCabins">
        <img md-card-image src="images/winter/winter34.jpg" alt="Fint fjell">
        <md-card-content>
          <p>Fint fjell</p>
        </md-card-content>
      </md-card>

      <md-card class="insideCabins">
        <img md-card-image src="images/winter/winter35.jpg" alt="Fine løyper">
        <md-card-content>
          <p>Fine løyper</p>
        </md-card-content>
      </md-card>

      <md-card class="insideCabins">
        <img md-card-image src="images/winter/winter36.jpg" alt="Fine løyper">
        <md-card-content>
          <p>Fine løyper</p>
        </md-card-content>
      </md-card>

      <md-card class="insideCabins">
        <img md-card-image src="images/winter/winter37.jpg" alt="Fine løyper">
        <md-card-content>
          <p>Fine løyper</p>
        </md-card-content>
      </md-card>

      <md-card class="cabinPrice">
        <md-card-content>
             <h3>Alpint</h3>
          <p>
             Jølster Skisenter tilbyr alpine løyper som passar alle, frå den heilt ferske nybegynnar til den røynde alpinist som krev tøffe utfordringar. Samla lengde nedfartar er over 4000 m. Ein kan velge mellom 4 heisar, skitrekka Kvamsheisen og Bjørkeliaheisen samt barnetrekket Uglumheisen og familiebakken med Bjørneheisen. Normalt er det mye snø på Vestlandet og ofte flotte off piste - forhold.
          </p>
          <p>Vi har rabatter på heiskort i skisenteret.</p>
          <p>Meir informasjon sjå deira eiga heimeside: <a href="http://www.jolsterskisenter.no/" target="_blank">Jølster Skisenter</a></p>
        </md-card-content>
      </md-card>
    </div>
