<md-toolbar color="primary">
	<button class="toggleMenu" md-button (click)="sidenav.toggle()">
	   <i class="material-icons">view_headline</i>
  </button>
  <a class="link" [routerLink]="['/']"><img class="logo" src="assets/images/logo-jølvassbu.gif"></a>

  <button md-button onmouseover="click()" onmouseout="close()" [mdMenuTriggerFor]="menu">Overnatting</button>
  <md-menu #menu="mdMenu">
    <a class="link" [routerLink]="['/cabins']">Hytter</a>
    <a class="link" [routerLink]="['/caravan']">Bobil & Telt</a>
    <a class="link" [routerLink]="['/facilities']">Servicebygg</a>
  </md-menu>

  <button md-button onmouseover="click()" [mdMenuTriggerFor]="menu2">Aktiviteter</button>
  <md-menu #menu2="mdMenu" class="activitiesMenu">
    <a class="link" [routerLink]="['/summer-activities']">Sommer & Vår</a>
    <a class="link" [routerLink]="['/winter-activities']">Vinter & Høst</a>
  </md-menu>
</md-toolbar>

<md-sidenav-container class="sidenav-container">
  <md-sidenav class="sidenav" #sidenav mode="side" opened="true">
		<a class="link" [routerLink]="['/map']">Kart</a>
		<a class="link" [routerLink]="['/jolster']">Jølster</a>
    <a class="link" [routerLink]="['/contact']">Kontakt Oss</a>
	 </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>

<footer>
  <md-toolbar color="primary">
    <div class="footerText">
        <h6>© Jølvassbu Camping, N - 6847 VASSENDEN, MOBIL + 47 92 06 22 03, E-post: <a href="mailto:post@jolvassbu.no">post@jolvassbu.no</a></h6>
    </div>
  </md-toolbar>
</footer>
