<h1 class="cabinHeader">VÅR & SOMMER PÅ JØLSTER</h1>

<div class="cabins">
    <md-card class="cabin">
      <img md-card-image src="images/spring/spring1.jpg" alt="Elven" height="170">
      <md-card-content>
        <p>Elven</p>
      </md-card-content>
    </md-card>

    <md-card class="cabin">
      <img md-card-image src="images/spring/spring2.jpg" alt="Fiske ved elven" height="170">
      <md-card-content>
        <p>Fiske ved elven</p>
      </md-card-content>
    </md-card>

    <md-card class="cabin">
      <img md-card-image src="images/spring/spring3.jpg" alt="Båttur" height="170">
      <md-card-content>
        <p>Båttur</p>
      </md-card-content>
    </md-card>
</div>

<div class="fisher">
  <md-card class="fishing">
    <img md-card-image src="images/spring/spring5.jpg" alt="God fangst" height="320" width="200">
    <md-card-content>
      <p>God fangst</p>
    </md-card-content>
  </md-card>


  <md-card class="fishing">
    <img md-card-image src="images/spring/spring6.jpg" alt="3 fisker" height="320" width="200">
    <md-card-content>
      <p>Fisker</p>
    </md-card-content>
  </md-card>
</div>

<div class="imageCards">
  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring4.jpg" alt="Fiske ved elven">
    <md-card-content>
      <p>Fiske ved elven</p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring7.jpg" alt="Sløyd fisk">
    <md-card-content>
      <p>Sløyd fisk</p>
    </md-card-content>
  </md-card>

  <md-card class="cabinPrice">
    <md-card-content>
         <h3>Fiske</h3>
      <p>
         Jølstravassdraget er eit eldorado for aurefiske, eit av dei beste i Norge. Hovedvassdraget er 50 km langt og har god plass til alle som vil fiske. Her er aure i halvkilosklassen daglegdags, og kvar einaste sesong vert det teke aure på fleire kilo. Vi sel fiskeutstyr, fiskekort, leiger ut fiskeutstyr og båter i Jølstravatnet.
      </p>
        <p> Treng du litt opplæring i fiske, valg av rett fiskeutstyr eller valg av fiskeplass, vil vi sjølvsagt vise deg.</p>
    </md-card-content>
  </md-card>
</div>


<div class="imageCards">
  <md-card class="cabinPrice">
    <img md-card-image src="images/spring/spring8.jpg" alt="Lek ved elven">
    <md-card-content>
      <p>Lek ved elven</p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring9.jpg" alt="Vassing">
    <md-card-content>
      <p>Vassing</p>
    </md-card-content>
  </md-card>


  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring10.jpg" alt="Bading i elven">
    <md-card-content>
      <p>Bading i elven</p>
    </md-card-content>
  </md-card>

  <md-card class="cabinPrice">
    <md-card-content>
      <h3>Bading</h3>
      <p>
        100 m frå Jølvassbu Camping ligg ei flott sandstrand, lett å få seg ein svalande dukkert på varme sommerdagar. Stranda er langgrunn og svært barnevennleg.
      </p>
    </md-card-content>
  </md-card>
</div>


<div class="holsbua">
    <md-card class="cabin">
      <img md-card-image src="images/spring/spring11.jpg" alt="Rafting" height="170">
      <md-card-content>
        <p>Rafting</p>
      </md-card-content>
    </md-card>

    <md-card class="cabin">
      <img md-card-image src="images/spring/spring12.jpg" alt="Rafting" height="170">
      <md-card-content>
        <p>Rafting</p>
      </md-card-content>
    </md-card>
</div>


<div class="imageCards">
  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring13.jpg" alt="Rafting">
    <md-card-content>
      <p>Rafting</p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring14.jpg" alt="Rafting">
    <md-card-content>
      <p>Rafting</p>
    </md-card-content>
  </md-card>

  <md-card class="cabinPrice">
    <md-card-content>
      <h3>Rafting</h3>
      <p>
        Jølster Rafting tilbyr rafting i Stardalselva og Jølstra. Dei har også tilbud om paintball, rapperlering, elvebrett m.m. Sjå meir informasjon på Jølster Rafting si eiga heimeside: <a target="_blank" href="http://www.jolster-rafting.no/">Jølster Rafting</a>
      </p>
    </md-card-content>
  </md-card>


  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring15.jpg" alt="Maraton">
    <md-card-content>
      <p>Maraton</p>
    </md-card-content>
  </md-card>


  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring16.jpg" alt="Maraton">
    <md-card-content>
      <p>Maraton</p>
    </md-card-content>
  </md-card>

  <md-card class="cabinPrice">
    <md-card-content>
      <h3>Jølstermaraton</h3>
      <p>
        Årvisst maraton rundt Jølstravatnet. Med masse deltakare frå inn- og utland. Påmelding finn du på : <a target="_blank" href="http://www.jolster-maraton.no/">Jølster Maraton</a>
      </p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring17.jpg" alt="Golf Klubbhuset">
    <md-card-content>
      <p>Klubbhuset</p>
    </md-card-content>
  </md-card>


  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring18.jpg" alt="Golf banen">
    <md-card-content>
      <p>Golf banen</p>
    </md-card-content>
  </md-card>

  <md-card class="cabinPrice">
    <md-card-content>
      <h3>Golf</h3>
      <p>
        Sunnfjord Golfklubb si golfbane med 9 hol par 70, lengde 4510 m, ligg på Vassenden. Meir informasjon om Sunnfjord Golfklubb finn du på deira eiga heimside: <a target="_blank" href="http://www.sunnfjord-golfklubb.no/">Sunnfjord Golfklubb</a>
      </p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring19.jpg" alt="Fjellet">
    <md-card-content>
      <p>Fjellet</p>
    </md-card-content>
  </md-card>


  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring20.jpg" alt="Natursti">
    <md-card-content>
      <p>Natursti</p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring21.jpg" alt="Toppen av fjellet">
    <md-card-content>
      <p>Toppen av fjellet</p>
    </md-card-content>
  </md-card>


  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring22.jpg" alt="Toppen ved innsjøen">
    <md-card-content>
      <p>Toppen ved innsjøen</p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring23.jpg" alt="Jogge muligheter">
    <md-card-content>
      <p>Jogging i naturen</p>
    </md-card-content>
  </md-card>


  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring24.jpg" alt="Natur">
    <md-card-content>
      <p>Natur</p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring25.jpg" alt="Ville utsikter">
    <md-card-content>
      <p>Ville utsikter</p>
    </md-card-content>
  </md-card>


  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring26.jpg" alt="Fine krabater">
    <md-card-content>
      <p>Fine krabater</p>
    </md-card-content>
  </md-card>

  <md-card class="cabinPrice">
    <md-card-content>
         <h3>Fjell- og Turstier</h3>
      <p>
        Jølster har ein vakker, variert natur frå skogkledde lier til stupbratte fjell med bre på toppen. Jølstravatnet er det naturlege midtpunktet med ei mengd småelvar og vann omkring. I heile kommunen er det merka turløyper. Lokale kart har vi på Jølvassbu og vi hjelper gjerne med den info du treng. På breen må ein ha guide.
      </p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring27.jpg" alt="Fjellsiden">
    <md-card-content>
      <p>Sykling ved fjellsiden</p>
    </md-card-content>
  </md-card>

  <md-card class="insideCabins">
    <img md-card-image src="images/spring/spring29.jpg" alt="Sykkling langs elven">
    <md-card-content>
      <p>Sykling langs elven</p>
    </md-card-content>
  </md-card>

  <md-card class="cabinPrice">
    <img md-card-image src="images/spring/spring28.jpg" alt="Nydelige sykkestier">
    <md-card-content>
      <p>Nydelige sykkelstier</p>
    </md-card-content>
  </md-card>

  <md-card class="cabinPrice">
    <md-card-content>
         <h3>Sykkling</h3>
      <p>
      Sørsida av Jølstravatnet, ca. 20 km frå Vassenden til Skei, er eit roleg område å sykle i. Kombinert med eit besøk på Astruptunet er dette ein flott tur. Jølvassbu har for tida 4 syklar for utleige.( 2 voksne og 2 for barn)
        <h3> Breturer</h3>
        <p> <a href="http://breogfjell.no/" taget="_blank">Breogfjell.no</a> tilbyr blant anna profesjonell guiding på Haugabreen, ein arm av Jostedalsbreen.
</p>
    </md-card-content>
  </md-card>
</div>
